doctype

html(lang="ru")

  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - SOLOMON.charity' //title страницы для генерации верстки

  include ./_include/_head

  body

    // Preloader
    include ./_include/_preloader

    include ./_include/_header

    .main.--pb0
      .header.--new(style="background-image: url('./tmp/header-bg-0.png');")
        .d-flex.item-center.justify-center
          .container
            h1 Духовные сервисы 
              span.d-block.fs60 для всех 
            h2 Закажите молитвы и 
              br 
              | уроки онлайн
            p Cоздан для помощи наиболее незащищенным 
              br 
              | слоям населения

      .section-content
        .container

          .index-document
            .row
              .col-md-6
                h2 Далеко-далеко за словесными горами
                p
                  strong Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
              .col-md-6
                p Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                p Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. 

          .index-nav
            .index-nav__row
              .index-nav__block
                .index-nav__block-thumb
                  a(href="#!")
                    img(src="./tmp/img-12-1.png", alt="")
                    img(src="./tmp/img-12-1.png", alt="")
                a(href="#!").index-nav__block-link Счастливые моменты
              .index-nav__block
                .index-nav__block-thumb
                  a(href="#!")
                    img(src="./tmp/img-12-2.png", alt="")
                    img(src="./tmp/img-12-2.png", alt="")
                a(href="#!").index-nav__block-link Память
              .index-nav__block
                .index-nav__block-thumb
                  a(href="#!")
                    img(src="./tmp/img-12-3.png", alt="")
                    img(src="./tmp/img-12-3.png", alt="")
                a(href="#!").index-nav__block-link Тематические молитвы
              .index-nav__block
                .index-nav__block-thumb
                  a(href="#!")
                    img(src="./tmp/img-12-4.png", alt="")
                    img(src="./tmp/img-12-4.png", alt="")
                a(href="#!").index-nav__block-link Молитвы на святых местах
              .index-nav__block
                .index-nav__block-thumb
                  a(href="#!")
                    img(src="./tmp/img-12-5.png", alt="")
                    img(src="./tmp/img-12-5.png", alt="")
                a(href="#!").index-nav__block-link Твоя доля в Торе
              .index-nav__block
                .index-nav__block-thumb
                  a(href="#!")
                    img(src="./tmp/img-12-6.png", alt="")
                    img(src="./tmp/img-12-6.png", alt="")
                a(href="#!").index-nav__block-link Блог

          .index-advantages
            h2 3 ключевых преимущества
            .index-advantages__row
              .index-advantages__block
                .index-advantages__img
                  img(src="./images/icon-adv-1.svg", alt="")
                h3 Потому что...
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах.
              .index-advantages__block
                .index-advantages__img
                  img(src="./images/icon-adv-2.svg", alt="")
                h3 Потому что...
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах.
              .index-advantages__block
                .index-advantages__img
                  img(src="./images/icon-adv-3.svg", alt="")
                h3 Потому что...
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах.

          .index-info
            .index-info__row
              .index-info__content
                h2 Благородная инициатива
                p В свете распространения короновируса во всем мире и по инициативе главного раввина России Берл Лазара мы начали подобную инициативу, чтобы объединить всех русскоязычных евреев мира в этом свитке. 

                .index-info__quote
                  p Мы должны начать действовать. Купите  спасение сейчас – себе и всем своим близким! Давайте объединимся в написании этого свитка и в наших молитвах!

              .index-info__thumb
                img(src="./tmp/img-14.png", alt="")

          .index-popular
            h2 Популярные услуги
            .index-popular__row
              .index-popular__block
                .index-popular__block-thumb
                  a(href="#!")
                    img(src="./tmp/img-13-1.png", alt="")
                a(href="#!").index-popular__block-link Уроки у раввинов
              .index-popular__block
                .index-popular__block-thumb
                  a(href="#!")
                    img(src="./tmp/img-13-2.png", alt="")
                a(href="#!").index-popular__block-link Счастливые моменты
              .index-popular__block
                .index-popular__block-thumb
                  a(href="#!")
                    img(src="./tmp/img-13-3.png", alt="")
                a(href="#!").index-popular__block-link Память

        .index-blog
          .container

            .index-blog__row
              .first
                h2 Последние записи 
                  span.span нашего из блога
                .index-blog__btns
                  button(type="button").index-blog__btn-left
                  button(type="button").index-blog__btn-right
              .last
                .j-blog-slider
                  .slide
                    .blog__block
                      .blog__block-thumb
                        a(href="#!")
                          img(src="./tmp/img-8-1.png", alt="")
                      a(href="#!").blog__block-content
                        p Мы завершили сбор для 6-месячного Натана
                  .slide
                    .blog__block
                      .blog__block-thumb
                        a(href="#!")
                          img(src="./tmp/img-8-2.png", alt="")
                      a(href="#!").blog__block-content
                        p Мы завершили сбор для Ирины и готовимся к покупке протеза
                  .slide
                    .blog__block
                      .blog__block-thumb
                        a(href="#!")
                          img(src="./tmp/img-8-3.png", alt="")
                      a(href="#!").blog__block-content
                        p Мы завершили сбор для Дины, которая одна воспитывает сына
                  .slide
                    .blog__block
                      .blog__block-thumb
                        a(href="#!")
                          img(src="./tmp/img-8-1.png", alt="")
                      a(href="#!").blog__block-content
                        p Мы завершили сбор для 6-месячного Натана
                  .slide
                    .blog__block
                      .blog__block-thumb
                        a(href="#!")
                          img(src="./tmp/img-8-2.png", alt="")
                      a(href="#!").blog__block-content
                        p Мы завершили сбор для Ирины и готовимся к покупке протеза
                  .slide
                    .blog__block
                      .blog__block-thumb
                        a(href="#!")
                          img(src="./tmp/img-8-3.png", alt="")
                      a(href="#!").blog__block-content
                        p Мы завершили сбор для Дины, которая одна воспитывает сына

    include ./_include/_footer

    // Load Scripts
    include ./_include/_footer-js
    script(src="./js/common.js")

